*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.1);
}
/* first header style */
.first-header{
    display: flex;
    justify-content: space-between;
}
.first-header-title{
    font-size: 45px;
    color: #131313;
    margin-left: 100px;
    margin-top: 50px;
    }
.first-header-menu ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 40px;
    font-size: 18px;
    color: #424242;
    margin-top: 63px;
    margin-right: 140px;
}
/* second header style */
.second-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 205px;
}
.second-header-details{
    
}
.second-header-title{
    font-size: 64px;
    color: #131313;
    margin-left: 200px;
}
.second-header-description{
    font-size: 16px;
    color: #727272;
    margin-top: 30px;
    margin-bottom: 33px;
    margin-left: 200px;
}
.primary-btn{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    border-style: none;
    margin-bottom: 50px;
    margin-left: 450px;
}
/* quick list section */
.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.quick-list{
    display: flex;
}